.gif {
  max-width: 100%;
  max-height: 100%; }

.navbar-custom {
  background-color: #fcce73 !important; }

header {
  color: #010230; }

.banner {
  background: #fcce73; }

.header-content {
  padding-top: 180px;
  padding-bottom: 180px; }

#aboutMe {
  font-weight: 500; }

.header-gif {
  padding-top: 180px; }

#resume-btn {
  color: #e01313; }

#resume-title {
  color: #505050; }

#resume-body {
  color: black; }

.whatIdo {
  padding-top: 50px;
  padding-bottom: 100px; }

.icon {
  padding-inline: 20px; }

.html-bar {
  background-color: #f1662a !important; }

.css-bar {
  background-color: #4a90c3 !important; }

.sass-bar {
  background-color: #cd6799 !important; }

.js-bar {
  background-color: #f7df1e !important; }

.react-bar {
  background-color: #45d8ff !important; }

.bootstrap-bar {
  background-color: #563d7c !important; }

.node-bar {
  background-color: #539e43 !important; }

.python-bar {
  background-color: #3775a8 !important; }

.mongo-bar {
  background-color: #49a649 !important; }

.sql-bar {
  background-color: #fdda43 !important; }

.postgres-bar {
  background-color: #336691 !important; }

.projects {
  padding-top: 80px;
  padding-bottom: 160px; }

footer {
  background-color: #fcce73;
  color: #010230; }

.footer-icons {
  color: inherit; }
