//icon colorways:
$htmlColor:#f1662a;
$cssColor:#4a90c3;
$sassColor:#cd6799;
$jsColor:#f7df1e;
$nodeColor:#539e43;
$reactColor:#45d8ff;
$awsColor:#f89903;
$pythonColor:#3775a8;
$gitColor:#de4c36;
$npmColor:#cb3837;
$bootstrapColor:#563d7c;
$mongoColor:#49a649;
$sqlColor:#fdda43;
$postgresColor:#336691;
$stackColor:#f48024;

//banner colors:
$pink-custom:#df4b9f;
$bannerColor:#fcce73;
$topBanner: linear-gradient(to bottom left, #fcce73 50%, white 50%);
 
$resume-btn:#505050;
$bannerText: #010230;

.gif{
    max-width: 100%;
    max-height: 100%;
}

//NAVBAR
.navbar-custom{
    background-color: $bannerColor !important;
}
//HEADER
header {
    color:$bannerText;
}

.banner{
    background: $bannerColor;
    height:100vh;
}

#aboutMe{
    font-weight: 450;
}

//RESUME
#resume-btn{
    color:#ed2424;
}
#resume-title{
    color:$resume-btn;
}
#resume-body{
    color:black;
}

// .cross{
//     background: $topBanner;
//     padding:6.5rem;
// }

//WHAT I DO
.whatIdo{
    height: 100vh;
}

.icon{
    padding-inline: 20px;  
}
.html-bar{
    background-color: $htmlColor !important;
}
.css-bar{
    background-color: $cssColor !important;
}
.sass-bar{
    background-color: $sassColor !important;
}
.js-bar{
    background-color: $jsColor !important;
}
.react-bar{
    background-color: $reactColor !important;
}
.bootstrap-bar{
    background-color: $bootstrapColor !important;
}
.node-bar{
    background-color: $nodeColor !important;
}
.python-bar{
    background-color: $pythonColor !important;
}
.mongo-bar{
    background-color: $mongoColor !important;
}
.sql-bar{
    background-color: $sqlColor !important;
}
.postgres-bar{
    background-color: $postgresColor !important;
}

//PROJECTS
.projects{
    height: 100vh;
}

.card-title{
    color:#d32273;
}

// FOOTER
footer{
    background-color: $bannerColor;
    color:$bannerText;
    font-weight: 450;
}
.footer-icons{
    color:inherit;
}