//icon colorways:
$htmlColor:#f1662a;
$cssColor:#4a90c3;
$sassColor:#cd6799;
$jsColor:#f7df1e;
$nodeColor:#539e43;
$reactColor:#45d8ff;
$awsColor:#f89903;
$pythonColor:#3775a8;
$gitColor:#de4c36;
$npmColor:#cb3837;
$bootstrapColor:#563d7c;
$mongoColor:#49a649;
$sqlColor:#fdda43;
$postgresColor:#336691;
$stackColor:#f48024;

//banner colors:
$pink-custom:#df4b9f;
$bannerColor:#010230;
$resume-btn:#505050;

//NAVBAR
.navbar-custom{
    background-color: $bannerColor !important;
}
//HEADER
header {
    color:#f8f8ff;
}
//RESUME
#resume-btn{
    color:$pink-custom;
}
#resume-title{
    color:$resume-btn;
}
#resume-body{
    color:black;
}
//WHAT I DO
.icon{
    padding-inline: 20px;  
}
.html-bar{
    background-color: $htmlColor !important;
}
.css-bar{
    background-color: $cssColor !important;
}
.sass-bar{
    background-color: $sassColor !important;
}
.js-bar{
    background-color: $jsColor !important;
}
.react-bar{
    background-color: $reactColor !important;
}
.bootstrap-bar{
    background-color: $bootstrapColor !important;
}
.node-bar{
    background-color: $nodeColor !important;
}
.python-bar{
    background-color: $pythonColor !important;
}
.mongo-bar{
    background-color: $mongoColor !important;
}
.sql-bar{
    background-color: $sqlColor !important;
}
.postgres-bar{
    background-color: $postgresColor !important;
}
//PROJECTS
.projects{
  
}
// FOOTER
footer{
    background-color: $bannerColor;
    color:whitesmoke;
}
.footer-icons{
    color:inherit;
}